.header{
    height: 800px;
    background: url(photo/head.png); 
    background-size: cover;
    text-align: center;
    color: white;
}

h1, .brief{
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
}

h1{
    display: inline-block;
    margin-top: 10%;
    font-size: 3em;
}

.register{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 50px auto;
    padding: 20px;
    width: 75%;
    max-width: 960px;
}

.register :nth-child(2){
    font-size: 0.5em;
}

.register input{
    padding: 1em 2em;
    outline-style: none;
    border: 1px solid #cccccc;
    background-color: transparent;
    color: white;
}

input::-webkit-input-placeholder{
    color: white    ;
}

.register button{
    padding: 1em 2em;
    background-color: white;
    border: none;
}

.container2{
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    max-width: 960px;
    width: 75%;
}

.container2>p{
    margin: 60px;
}

.container2 > p:nth-child(2){
    font-size: 2em;
}

.icon:nth-of-type(1), .icon:nth-of-type(3){
    width: 45%;
    text-align: left;
    float: left;
    min-height: 150px;
}

.icon:nth-of-type(2), .icon:nth-of-type(4){
    width: 45%;
    text-align: left;
    float: right;
    min-height: 150px;
}

.icon:nth-of-type(1), .icon:nth-of-type(2){
    margin-bottom: 30px;
}

.icon img{
    float: left;
}

.icon :nth-child(2){
    font-weight: bold;
    margin-left: 50px;
}

.icon :nth-child(3){
    margin-left: 50px;
    line-height: 2em;
}

.container3{
    height: 800px;
    background: url(photo/background2.png);
    background-size: cover;
}

.container3 p{
    color: white;
    margin: 0 40% 0 20%;

}

.container3 p:first-child{
    font-size: 3em;
    padding-top: 10%;
}

.container3 p:nth-child(2){
    line-height: 2em;
}

.container3 button{
    margin: 50px 20px 0 0;
    background-color: transparent;
    border: 1px solid #cccccc;
    color: white;
    cursor: pointer;
    padding: 1em 2em;
}

.container3 button:nth-of-type(1){
    margin-left: 20%;
}

.container3 button:focus{
    outline: none;
    background-color: white;
    color: black;
}

.container3 button:hover{
    background-color: white;
    color: black;
}

.container3 button:active{
    background-color: white;
    color: black;
}

.container4{
    text-align: center;
    margin-bottom: 100px;
}

.highlight{
    font-size: 2em;
    margin: 30px 0;
}

.logo_all{
    display: flex;
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
}

.logo{
    margin-right: 10%;
    line-height: 2em;
}
.logo:last-child{
    margin-right: 0;
}

.show{
    width: 75%;
    max-width: 960px;
    margin: 50px auto;
    display: flex;
    text-align: left;
    max-height: 354px;
}

.show span{
    font-size: 1.5em;
    font-weight: bold;
}

.show p{
    line-height: 2em;
    margin: auto 10px;
}


.crew{
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.crew a:nth-of-type(1), a:nth-of-type(3){
    margin-right: 15px;
}

.crew a:nth-of-type(1), a:nth-of-type(2){
    margin-bottom: 20px;
}

.crew a:nth-of-type(3), a:nth-of-type(4){
    margin-bottom: 80px;
}

.crew a:hover img{
    filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;
    /* background: #000000; */
} 

.container5{
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.container5 img{
    float: left;
    margin-right: 20px;
    margin-left: 150px;
}

.contact{
    text-align: left;
    margin-bottom: 30px;
}

.info{
    width:50%;
    float: left;
}

.info input{
    color: black;
    padding: 1em 2em;
    display: block;
    margin: 20px auto;
    outline-style: none;
    border: 1px solid #cccccc;
    background-color: transparent;
    width: 360px;
}

.info input::-webkit-input-placeholder{
    color: #cccccc;
}

.info input:nth-of-type(3){
    height: 100px;
}

.info button{
    width: 420px;
    height: 40px;
    background-color: black;
    color: white;
}

footer{
    height: 260px;
    background-color: black;
    text-align: center;
    display: flex;
    padding-top: 40px;
}

footer p{
    color: rgba(204, 204, 204, 0.5);
    margin: 20px 0;
}

.title{
    font-weight: bold;
    color: #cccccc;
}

.col1, .col2, .col3{
    flex: 1;
}

.col4{
    /* box-sizing: border-box; */
    flex: 1.5;
    /* padding: 0 40px; */
}

.col4 img{
    margin: 20px;
    opacity: 0.5;
}

